# Dependency directories
node_modules/
/jspm_packages/

# Next.js build outputs
.next/
out/

# Production build output
build/
dist/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.local.sample
.env.sample
*.pem
*.key

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.settings/

# Vercel
.vercel

# Testing
/coverage
.nyc_output

# Temporary files
tmp/
temp/
